/*Desktop*/
@media (min-width: 769px){
    .home{
        width: 100vw;
        height: 100vh;
        
    }
}
/*Mobile*/
@media (max-width: 768px){
    .home{
        width: 100vw;
        height: 100vh;
        
    }
}